In [1]:
import numpy as np
import pandas as pd

#Set the random seed for reproducibility
np.random.seed(123)

#create a dataframe with two classes
n_samples= 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
#Creating my dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'class': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=1, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=1, scale=1, size=n_class_1),
    'class': [1] * n_class_1
})

In [4]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  class
0  -0.300232   0.667532      0
1  -0.632261   0.100458      0
2  -0.204317  -0.012610      0
3   0.213696   0.219907      0
4   1.033878   0.813623      0

In [5]:
df['class'].value_counts()

class
0    900
1    100
Name: count, dtype: int64

In [6]:
##Upsampling

df_minority = df[df['class'] == 1]
df_majority = df[df['class'] == 0]

In [7]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=123)

In [8]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])
df_upsampled['class'].value_counts()

class
0    900
1    900
Name: count, dtype: int64

In [9]:
#Downsampling
df_majority_downsampled=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=123)
df_downsampled=pd.concat([df_majority_downsampled,df_minority])
df_downsampled['class'].value_counts()

class
0    100
1    100
Name: count, dtype: int64