In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('data.db')

cursor= connection.cursor()

In [8]:
## create table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER AUTO_INCREMENT PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    department TEXT NOT NULL
)
''')
connection.commit()

In [14]:
##Insert data
cursor.execute('''
INSERT INTO employees (name, age, department) VALUES ('Jane Doe', 19, 'IT');

''')

In [18]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Nick Doe', 25, 'IT')
(2, 'John Dow', 22, 'HR')
(3, 'Jane Doe', 19, 'IT')

In [19]:
cursor.execute('''
DELETE FROM employees 
WHERE id = 4;
''')

In [25]:
import pandas as pd
df = pd.read_csv('../Data Analysis/ecommerce_sales_analysis.csv')
df.to_sql('sales', connection, if_exists='replace', index=False)

1000

In [30]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
ct = 1
for row in rows:
    if ct > 5:
        break
    ct += 1
    print(row)

(1, 'Product_1', 'Clothing', 190.4, 1.7, 220, 479, 449, 92, 784, 604, 904, 446, 603, 807, 252, 695, 306)
(2, 'Product_2', 'Home & Kitchen', 475.6, 3.2, 903, 21, 989, 861, 863, 524, 128, 610, 436, 176, 294, 772, 353)
(3, 'Product_3', 'Toys', 367.34, 4.5, 163, 348, 558, 567, 143, 771, 409, 290, 828, 340, 667, 267, 392)
(4, 'Product_4', 'Toys', 301.34, 3.9, 951, 725, 678, 59, 15, 937, 421, 670, 933, 56, 157, 168, 203)
(5, 'Product_5', 'Books', 82.23, 4.2, 220, 682, 451, 649, 301, 620, 293, 411, 258, 854, 548, 770, 257)

In [31]:
cursor.close()