In [1]:
import pandas as pd
import seaborn as sns

In [21]:
df=sns.load_dataset('tips')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [5]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [22]:
X=df.drop('day',axis=1)
y=df['day']

In [7]:
X.head()

   total_bill   tip     sex smoker    time  size
0       16.99  1.01  Female     No  Dinner     2
1       10.34  1.66    Male     No  Dinner     3
2       21.01  3.50    Male     No  Dinner     3
3       23.68  3.31    Male     No  Dinner     2
4       24.59  3.61  Female     No  Dinner     4

In [23]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=121)

In [24]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [25]:
X_train['sex'] = le1.fit_transform(X_train['sex'])
X_train['smoker'] = le2.fit_transform(X_train['smoker'])
X_train['time'] = le3.fit_transform(X_train['time'])

In [26]:
X_test['sex'] = le1.transform(X_test['sex'])
X_test['smoker'] = le2.transform(X_test['smoker'])
X_test['time'] = le3.transform(X_test['time'])

In [27]:
X_test['sex'].value_counts()

sex
1    31
0    18
Name: count, dtype: int64

In [32]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(drop='first'), 0)], remainder='passthrough')

In [34]:
y_train = ct.fit_transform(y_train.reshape(-1,1))
y_test = ct.transform(y_test.reshape(-1,1))

AttributeError: 'Series' object has no attribute 'reshape'