In [2]:
import pandas as pd

In [4]:

#series it is a one-dimensional array like object containing a sequence of values
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
data = {'a': 0., 'b': 1., 'c': 2.}
series = pd.Series(data)
print(series)

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
data=[10,20,30]
indexes=['a','b','c']
series = pd.Series(data,index=indexes)
print(series)

a    10
b    20
c    30
dtype: int64

In [10]:
#dataframe is a two-dimensional array like object containing a sequence of values

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [12]:
df.head()

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [27]:
df=pd.read_csv('./coursera_1000_Courses')

In [17]:
df.head()

,Unnamed: 0,Course_Banner,Course_Name,Company_Name,Skills,Ratings,Reviews,Difficulty,Type_Of_Certificate,Duration
0,0,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Cybersecurity,Google,"Skills you'll gain: Network Security, Python P...",4.8,(19K reviews),Beginner,Professional Certificate,3 - 6 Months
1,1,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Data Analytics,Google,"Skills you'll gain: Data Analysis, R Programmi...",4.8,(136K reviews),Beginner,Professional Certificate,3 - 6 Months
2,2,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Project Management:,Google,"Skills you'll gain: Project Management, Strate...",4.8,(100K reviews),Beginner,Professional Certificate,3 - 6 Months
3,3,https://d3njjcbhbojbot.cloudfront.net/api/util...,IBM Data Science,IBM,"Skills you'll gain: Python Programming, Data S...",4.6,(120K reviews),Beginner,Professional Certificate,3 - 6 Months
4,4,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Digital Marketing & E-commerce,Google,"Skills you'll gain: Digital Marketing, Marketi...",4.8,(23K reviews),Beginner,Professional Certificate,3 - 6 Months

In [20]:
df['Company_Name']

0                              Google
1                              Google
2                              Google
3                                 IBM
4                              Google
                    ...
995                               IBM
996                              Meta
997     University of Colorado System
998          Arizona State University
999    University of Colorado Boulder
Name: Company_Name, Length: 1000, dtype: object

In [22]:
df.at[3,'Company_Name']

'IBM'

In [28]:
df.drop('Ratings',axis=1, inplace=True)

In [30]:
df.head()

,Unnamed: 0,Course_Banner,Course_Name,Company_Name,Skills,Reviews,Difficulty,Type_Of_Certificate,Duration
0,0,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Cybersecurity,Google,"Skills you'll gain: Network Security, Python P...",(19K reviews),Beginner,Professional Certificate,3 - 6 Months
1,1,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Data Analytics,Google,"Skills you'll gain: Data Analysis, R Programmi...",(136K reviews),Beginner,Professional Certificate,3 - 6 Months
2,2,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Project Management:,Google,"Skills you'll gain: Project Management, Strate...",(100K reviews),Beginner,Professional Certificate,3 - 6 Months
3,3,https://d3njjcbhbojbot.cloudfront.net/api/util...,IBM Data Science,IBM,"Skills you'll gain: Python Programming, Data S...",(120K reviews),Beginner,Professional Certificate,3 - 6 Months
4,4,https://d3njjcbhbojbot.cloudfront.net/api/util...,Google Digital Marketing & E-commerce,Google,"Skills you'll gain: Digital Marketing, Marketi...",(23K reviews),Beginner,Professional Certificate,3 - 6 Months